header{
    width: 100%;
    height: 50px;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(56,13,13,1) 47%, rgba(255,0,0,1) 100%);
}hr{
    color: rgb(255, 0, 149);
}main{
    margin-top: 10px;
    
    
    
}header #logo{
    text-align:center;
    padding-top: 5px;
  
}
/*pai*/
#menu-lateral{
    
    
    width: 159px;
    float: left;
}
/*filho*/
/*
 nav{
    background-color: #000000;
    
}*//*neto*/
 /*nav ul{
    background-color: blue;
    
}*//*bisneto*/
 nav ul li{
    
    list-style: none;
    text-transform: uppercase;
    padding-left: 10px;
}/*tataraneto*/
nav ul li a {
 
    text-decoration: none;
    color: #f64d27;
}
nav ul li a:hover{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
#menu-lateral nav ul li{
    padding-top: 9px;   
    font-size: 11px;
}
#comandos{
    
    background-color: rgb(43, 226, 180);
    
}footer #rodape{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(56,13,13,1) 47%, rgba(255,0,0,1) 100%);
   color: aliceblue;
    text-align: center;
    font-size: 12px;
    height: 25px;
    margin-top: 10px;
    
    
}
#area-principal{
    width: 1750px;   
    height: 650px;
    margin-left: 150px;
   
}
.postit-laranja{
   
    border: 2px solid orange;    

} 
#draggable {
    width: 75px;
    height: 75px;    
    color: black;
    border: 2px solid rgb(17, 17, 17);
}
.paragrafo-um{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.paragrafo-dois{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #f64d27;
}
.paragrafo-tres{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 191);
}.paragrafo-tres{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
}.paragrafo-quatro{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #f80000;
    
}.paragrafo-cinco{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #4f06fa;
    
}.paragrafo-seis{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #0af0f8;
    
}.paragrafo-sete{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #9eaa35;
    
}.paragrafo-oito{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #0bcc4b;
    
}.paragrafo-nove{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #5a0541;
    
}.paragrafo-dez{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #73bdfa;
    
}.paragrafo-onze{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #504c4b;
    
}.paragrafo-doze{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #811e08;
    
}.paragrafo-treze{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #350d04;
    
}.paragrafo-quatoze{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #0d5210;
    
}.paragrafo-quinze{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #3d0747;
    
}.paragrafo-dezeseis{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #00c569;
    
}.paragrafo-dezesete{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #300726;
    
}.paragrafo-dezoito{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #8d080860;
    
}.paragrafo-dezenove{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #535c09;
    
}.paragrafo-vinte{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #d67fb2;
    
}.paragrafo-vinteum{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #d35450;
    
}.paragrafo-vintedois{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #6b701c;
    
}.paragrafo-vintetres{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #6b0abb;
    
}footer #rodape-a{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(56,13,13,1) 47%, rgba(255,0,0,1) 100%);
   color: aliceblue;
    text-align: center;
    font-size: 12px;
    height: 25px;
    margin-top: 1567px;
    
    
}